<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <form method="post" action="/form-submission">
        <h1 style="text-align: center;">Form</h1>
        <div class="input-container" >
            <input type="text" class="input" placeholder="Enter your name" name="name">
            <input type="text" class="input" placeholder="Enter your last namme" name="surname">

        </div>
        <div class="btn-container">
            <button type="submit" class="btn">Submit</button>

        </div>

    </form>
</body>

</html>